
// Palette
$palette-white: #fff;
$palette-iron: #333;
$palette-alto: #e0e0e0;

// Colors
$color-text: $palette-iron !default;
$color-border: $palette-alto !default;
$color-white: $palette-white !default;
